.headerDesktop {
  list-style: none;
  display: flex;
}

.headerMobile {
  display: none;
}

.headerDesktop li {
  cursor: pointer;
}

.logo {
  margin-right: 3rem;
  font-size: 2rem;
  font-weight: 700;
}

.productTab,
.companyTab,
.connectTab {
  margin-left: 2rem;
  margin-top: 1rem;
}

.connectTab {
  margin-right: auto;
}

.loginBtn,
.signUpBtn {
  margin-left: 2rem;
  margin-top: 0.5rem;
  padding: 0.5rem;
  border-radius: 20px;
  cursor: pointer;
}

.loginBtn:hover,
.signUpBtn:hover {
  background-color: white;
  color: var(--light-red);
}

@media (max-width: 1080px) {
  .headerDesktop {
    display: none !important;
  }

  .headerMobile {
    display: flex !important;
    padding: 0 1rem !important;
  }

  .headerMobile ul {
    list-style: none !important;
  }

  .logoMobile {
    margin-right: auto !important;
    font-size: 2rem;
    font-weight: 700;
  }
  .menu-container {
    position: relative;
  }

  .menu {
    background: #ffffff;
    border-radius: 8px;
    position: absolute;
    top: 60px;
    right: 0;
    width: 300px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
  }

  .menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .menu li {
    border-bottom: 1px solid #dddddd;
  }

  .menu li a {
    text-decoration: none;
    color: #333333;
    padding: 15px 20px;
    display: block;
  }

  .menu-trigger {
    background-image: url("../../../assets/icon-hamburger.svg");
    height: 2rem;
    width: 2rem;
    border-radius: 0px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border: none;
    vertical-align: middle;
    transition: box-shadow 0.4s ease;
  }

  .menu-trigger:hover {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  }

  .menu-trigger span {
    font-weight: 700;
    vertical-align: middle;
    font-size: 14px;
    margin: 0 10px;
  }

  .menu-trigger img {
    border-radius: 90px;
  }
}
